.info-container{

}
.list{
  display: block;
}
.bg-card{
  width: 49%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}


