<div>
  <app-header>
    <img src="/assets/icons/info.svg" alt="info"/>
  </app-header>
  <app-scrollable>
    <p>
      Canyonista, test version {{ version }}
    </p>
    <p>
      Canyonista offers information about the sport of canyoning. It is a supplementary digital source of information
      for
      tour planning.
      This app is not a substitute for a trained canyoning guide. In case of uncertainty, we recommend booking a
      qualified
      guide.
    </p>
    <p>
      The information has been compiled to the best of our knowledge, but may contain errors. We therefore accept no
      liability for the accuracy of the information and recommend that you check the information critically.
    </p>
    <p> Version {{version}} is a test version. We are grateful for any feedback and corrections.
    </p>
    <p>The Canyonista team
    </p>
    <p>Contact: Canyonista&#64;hammer.email
    </p>
  </app-scrollable>
</div>

